<h1>New Artist</h1>

<form action="/create_artist">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="nationality">nationality</label><br />
    <input id="nationality" name="nationality" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

